.wrapper {
    height: 100%;
    margin: 40px 0px;
    color: white;
}

.wrapper p {
    margin: 0;
}

.wrapper .filter {
    display: flex;
    padding: 20px 0;
    /* margin-left: 2px; */
}

.wrapper .filter p {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.wrapper .filter .dropdown_top {
    margin-right: 10px;
}

.wrapper .card {
    height: 160px;
    border: 2px solid rgb(44, 248, 255);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
}

.wrapper .card:hover {
    filter: brightness(82%);
}

.wrapper .card .card_title {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 18px;
    color: rgba(136, 164, 255, 1);
}

.wrapper .card .amount {
    font-weight: 700;
    color: rgba(136, 164, 0, 1);
}

.wrapper .card .percentage {
    position: absolute;
    bottom: 12px;
}

.wrapper .card .card_img {
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 25%;
    float: right;
}

.modal_head {
    background-color: rgb(19, 19, 19);
    color: #fff;
}

.modal_head button {
    background-color: white;
}

.modal_body {
    background-color: rgb(19, 19, 19);
    color: #fff;
}

.table {
    margin-top: 10px;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.table .button {
    padding: 0rem 0.5rem;
}

.terminal {
    border: 1px solid whitesmoke;
    padding: 24px 38px;
    margin-top: 30px;
}

.game_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.game_prog {
    height: 100%;
    background-color: rgb(39, 39, 39);
}

.game_prog>div {
    background-color: #FFB900 !important;
    color: black;
}