/**--------------Products----------**/
.products .item{
  min-height: 361px;
  max-height: 361px;
  background-color: rgb(33, 50, 68);
  margin-bottom: 20px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  border-radius: 3px;
  box-shadow: 0 3px 5px rgb(63 189 206 / 12%);
}
.products .item:hover{
  background-color: rgba(55,59,71,1);
  box-shadow: 0 10px 15px rgb(63, 189, 206);
  transform: translateY(-1px)
}
.products .item .image{
  padding: 3px;
  min-height: 180px;
  max-height: 180px;
  cursor: pointer;
}
.products .item .name{
  color: white;
  min-height: 38px;
  max-height: 38px ;
  text-align: center ;
}
.products .item .cate{
  min-height: 50px;
  max-height: 50px;
  margin-top: 15px;
  overflow: hidden;
}
.products .item .cate .cate_item{
  cursor: pointer
}
.products .item .cate .cate_item_disable{
  cursor: default
}
.products .item .price_button{
  margin-top: 10px;
  position: absolute;
  right: 10px;
}
.products .item .price_button .button{
  min-width: 50px
}
.products .item .price_button .price{
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.no-game{
  margin-top: 20px;
  text-align: center;
  color: white;
}

@media (min-width: 992px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .products .item{
    min-height: 378px;
    max-height: 378px;
  }
  .products .item .image{
    min-height: 210px;
    max-height: 210px;
  }
  .products .item .name{
    min-height: 38px;
    max-height: 38px ;
  }
  .products .item .cate{
    min-height: 50px;
    max-height: 50px;
  }
}

@media (max-width: 767px) {
  .products .item{
    min-height: 406px;
    max-height: 406px;
  }
  .products .item .image{
    min-height: 260px;
    max-height: 260px;
  }
  .products .item .name{
    min-height: 28px;
    max-height: 28px ;
  }
  .products .item .cate{
    min-height: 25px;
    max-height: 25px;
  }
}