/*---------------------TagList----------------------*/
.tag_list{
  margin-top: 30px;
}
.tag_list .searchForm{
  margin-bottom: 10px;
  background-color: inherit;
  color: white;
}
.tag_list .btnX{
  margin-bottom: 10px;
  cursor: pointer;
  background-color: inherit;
  color: white;
  border-left: 0px;
}
.tag_list .item{
  background-color: inherit;
  color: grey;
  border: 1px solid var(--background-color);
}
.tag_list .item:hover{
  color: white;
}
.tag_list .item_checked:focus{
  border: 1px solid white;
  border-radius: 5px;
}
.tag_list .item_checked{
  background-color: rgb(44, 44, 44);
  color: white;
  border-radius: 5px;
}
.tag_list .item_checked .icon{
  position: absolute;
  right: 10%;
  top: 35%;
  color: white;
}

@media (min-width: 992px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}